.main {
    min-width: 640px;
    min-height: 520px;
    background-color: #F7F7F7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.icon-points {
    position: relative;
    color: rgba(0, 0, 0, 0.2);
    bottom: 2px;
}
.icon-points:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}
.icon-points_cursor_resize:hover{
    cursor: col-resize;
}