.logo {
    width: 115px;
    height: 30px;
}
.logo_place_login {
    position: absolute;
    left: calc(50% - 115px/2);
    top: calc(50% - 425px/2 - 50px);
}
.logo_place_main {

}
.logo div {
    display: inline-block;
    margin-right: 5px;
}
.logo__circle {
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.logo__rectangle {
    width: 15px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
}
.logo__rectangle_shape_tr {
    margin-left: 5px;
    transform: skew(-25deg);
}