.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    display: flex;
}
.header__left {
    display: flex;
}
.header__label {
    position: relative;
    font-size: 20px;
    margin-left: 25px;
    white-space: nowrap;
}
.header__right {
    display: flex;
    margin-left: auto
}
.header__right div{
    margin-left: 30px;
}
.header__info {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px 10px 3px 15px;
}
.header__text {
    font-size: 16px;
    line-height: 20px;
    margin-right: 5px;
    white-space: nowrap;
}
.header__action {
    white-space: nowrap;
}
.header__action:hover{
    color: #0055FB;
    cursor: pointer;
}